:root{
    --size-Mobile: 375px;
    --size-Desktop: 1366px;
    /* --size-Desktop: 1440px; */
    --color-Violet: hsl(257, 40%, 49%);
    --color-Soft-Magenta: hsl(300, 69%, 71%);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-Violet);
}

.container{
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url(images/bg-mobile.svg);
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-around; */
    /* background-color: tomato; */
}

.logo{
    width: 42%;
    justify-self: flex-start;
    /* background-color: steelblue; */
}
.logo img{
    width: 100%;
}

.mockup{
    margin: 70px 0px;
    justify-self: center;
    /* background-color: steelblue; */
}
.mockup img{
    width: 100%
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.5em;
    text-align: center;
    /* background-color: tan; */
}

.text{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 20px 0px;
    /* background-color: teal; */
}

.button{
    width: 70%;
    margin: 10px 0px;
    padding: 10px;
    color: var(--color-Violet);
    font-size: 0.8em;
    background-color: white;
    border-radius: 2em;
    border-style: none;
}

.button:hover{
    color: white;
    background-color: var(--color-Soft-Magenta);
}

.social{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.social *{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 35px;
    padding: 5px
}

.social *:hover{
    border: 1px solid var(--color-Soft-Magenta);
    color: var(--color-Soft-Magenta);
}

.footer{
    font-size: 0.7em; 
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

.attribution a{
    color: white;
    text-decoration: none;
}

@media (min-width: 375px) and (orientation: landscape){
    /* (min-aspect-ratio: 9/18.5)*/            
    /* la pantalla del s9 es: 1440x x2690 o 1080 x 2220 o 1480 x 720*/
    
    body{
        justify-content: space-between;
        background-color: var(--color-Violet);
    }
    .container{
        width: 100%;
        padding: 5%;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 1 auto;
        background-image: url(images/bg-desktop.svg);
        background-size: 100%;
    }

    .header{
        width: 60%;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .logo{
        width: 25%;
    }
    .logo img{
        width: 100%;
    }
    
    .mockup{
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        align-self: center;
    }
    .mockup img{
        width: 80%
    }

    .info{
        width:40%;
        align-items: flex-start;
        justify-content: center;
    }

    .title{
        width: 90%;
        margin-top: auto;
        font-size: 2.5em;
        text-align: left;
        line-height: 1em;
    }
    
    .text{
        width: 90%;
        font-size: 1em;
        text-align: left;
    }
    
    .button{
        width: 30%; flex: 0 0 auto;
    }
    
    .social{
        width: 30%;
        margin-top: auto;
        align-self: flex-end;
    }

    .footer{
        justify-self: flex-end;
        align-self: flex-start;
    }
}