:root{
    --size-Mobile: 375px;
    --size-Desktop: 1366px;
    /* --size-Desktop: 1440px; */
    --color-Violet: hsl(257, 40%, 49%);
    --color-Soft-Magenta: hsl(300, 69%, 71%);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backg{
    width: var(--size-Mobile);
    background-color: var(--color-Violet);

}

.container{
    width: var(--size-Mobile);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: url(images/bg-mobile.svg);
}

.page-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

.page-header .logo img{
    width: 130px;
    
}

.page-header .muckup{
    margin: 60px 0px;
    width: fit-content;
}

.page-header .muckup img{
    width: 290px;
}

.section-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-info .title h1{
    width: 290px;
    text-align: center;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    margin-bottom: 25px;

}

.section-info .text{
    width: 290px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-bottom: 25px;
    font-size: 0.9em;

}

.section-info .button button{
    width: 205px;
    border-radius: 2em;
    margin-bottom: 60px;
    padding: 10px;
    border-style: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-Violet);
}

.section-info .button button:hover{
    color: white;
    background-color: var(--color-Soft-Magenta);
}

.section-social-networks{
    color: white;
    margin-bottom: 30px;
}
.section-social-networks .fa-facebook{
    border: 1px solid white;
    border-radius: 50%;
    margin: 10px;
    padding: 5px;
}

.section-social-networks .fa-facebook:hover{
    border: 1px solid var(--color-Soft-Magenta);
    color: var(--color-Soft-Magenta);
}

.section-social-networks .fa-twitter{
    border: 1px solid white;
    border-radius: 50%;
    margin: 10px;
    padding: 5px;
}
.section-social-networks .fa-twitter:hover{
    border: 1px solid var(--color-Soft-Magenta);
    color: var(--color-Soft-Magenta);
}


.section-social-networks .fa-instagram{
    border: 1px solid white;
    border-radius: 50%;
    margin: 10px;
    padding: 5px;
}
.section-social-networks .fa-instagram:hover{
    border: 1px solid var(--color-Soft-Magenta);
    color: var(--color-Soft-Magenta);
}

footer{
    align-self: flex-start
}

.attribution *{
    font-size: 15px; text-align: center;
    color: var(--color-Violet);
    text-decoration: none;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}

/*####################    MEDIA QUERIES   ####################*/

@media(min-width:375px){

    body{
        min-height: 100vh;
        /* background-color: yellowgreen; */
    }

    .backg{
        width: 100%;
        height: 100%;
        background-color: var(--color-Violet);
    
    }

    .container{
        width: 100vw;
        height: 100vh;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: url(images/bg-desktop.svg);
        
    }

    .page-header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        /* margin-top: 50px 20px; */
        width: 60%;
        height: 100vh;
        /* background-color:  rgb(75, 123, 245); */
    }
    
    .page-header .logo img{
        margin-left: 60px;
        width: 200px;
        
    }
    
    .page-header .muckup{
        margin: 60px 60px 0px 60px;
        width: fit-content;
    }
    
    .page-header .muckup img{
        width: 600px;
    }

    .section-info{
        /* background-color: rgb(114, 152, 248); */
        width: 40%;
        height: 100%;
        align-items: flex-start;
        justify-content: end;
        padding: 0px 50px 0px 0px;

    }
    
    .section-info .title h1{
        width: 410px;
        text-align: left;
        font-family: 'Poppins', sans-serif;
        font-size: 2.3em;
        font-weight: bold;
        color: white;
        margin-bottom: 25px;

        /* background-color: yellowgreen; */
    
    }
    
    .section-info .text{
        width: 400px;
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        color: white;
        margin-bottom: 25px;
        font-size: 0.9em;

        /* background-color: yellowgreen; */
    
    }

    .section-social-networks{
        align-self: flex-end;
        justify-self: end;
        /* background-color: yellowgreen; */
    }
}